# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # Locale
    env(LDAPUI_LOCALE): en

    # A secret key that's used to generate certain security-related tokens
    env(LDAPUI_APP_SECRET): ThisTokenIsNotSoSecretChangeIt

    # nelmio cors
    env(LDAPUI_CORS_ORIGIN): 'http://localhost'